<header class="header container">
    <h1 class="header__title">
      <a href="/">Глеб Дмитриев</a>
    </h1>
	<nav class="nav">
		<ul class="header__links">
			<li>
				<a class="header__link" href="/about">Обо мне</a>
			</li>
			<li>
				<a class="header__link" href="/projects">Проекты</a>
			</li>
			<li>
				<a class="header__link" href="/contact">Контакты</a>
			</li>
		</ul>
	</nav>
</header>