<section class="profile">
  <div class="profile__image-wrapper">
	<p class="profile__location">Кутаиси, Грузия 🇬🇪 </p>
	{% EleventyImage "/images/profile.jpg", "Дмитриев Глеб, фронтенд-разработчик", "(min-width: 16em) 50vw, 100vw" %}
  </div>
  <div class="profile__card">
	<p class="profile__text">Привет! Я <span class="profile__text--highlight">Глеб Дмитриев</span>, начинающий фронтенд-разработчик.</p>
	<p class="profile__text">Умею разрабатывать качественные и удобные приложения.</p>
	<p class="profile__text">Всегда открыт к новым знакомствам и буду рад <a class="profile__link" href="/contact">пообщаться!</a>
	</p>
  </div>
</section>