<section class="technologies">
	<h2 class="technologies__heading">Навыки</h2>
	<ul class="technologies__list">
		<li class="technologies__item">
			<div class="technologies__logo">
				<img src="/images/logo-html.svg" alt="HTML logo" width="64" height="90">
			</div>
			<h3 class="technologies__title">HTML</h3>
		</li>
		<li class="technologies__item">
			<div class="technologies__logo">
				<img src="/images/logo-css.svg" alt="CSS logo" width="64" height="90">
			</div>
			<h3 class="technologies__title">CSS</h3>
		</li>
		<li class="technologies__item">
			<div class="technologies__logo">
				<img src="/images/javascript.svg" alt="JavaScript logo" width="64" height="64">
			</div>
			<h3 class="technologies__title">JavaScript</h3>
		</li>
		<li class="technologies__item">
			<div class="technologies__logo">
				<img src="/images/sass.svg" alt="SASS logo" width="64" height="64">
			</div>
			<h3 class="technologies__title">SCSS</h3>
		</li>
		<li class="technologies__item">
			<div class="technologies__logo">
				<img src="/images/bem.png" alt="BEM logo" width="64" height="64">
			</div>
			<h3 class="technologies__title">BEM</h3>
		</li>
		<li class="technologies__item">
			<div class="technologies__logo">
				<img src="/images/gulp.svg" alt="Gulp logo" width="64" height="90">
			</div>
			<h3 class="technologies__title">Gulp</h3>
		</li>
		<li class="technologies__item">
			<div class="technologies__logo">
				<img width="64" height="64" src="/images/11ty.svg" alt="11ty logo">
			</div>
			<h3 class="technologies__title">11ty</h3>
		</li>
		<li class="technologies__item">
			<div class="technologies__logo">
				<img src="/images/nunjucks.svg" alt="Nunjucks logo" width="64" height="90">
			</div>
			<h3 class="technologies__title">Nunjucks</h3>
		</li>
	</ul>
</section>