<section class="technologies">
  <h2 class="technologies__heading">Стэк используемых технологий</h2>
  <ul class="technologies__list">
	<li class="technologies__item">
		<div class="technologies__logo">
		<img src="/images/logo-html.svg" alt="HTML logo">
		</div>
		<h3 class="technologies__title">HTML</h3>
	</li>
	<li class="technologies__item">
		<div class="technologies__logo">
		<img src="/images/logo-css.svg" alt="CSS logo">
		</div>
		<h3 class="technologies__title">CSS</h3>
	</li>
	<li class="technologies__item">
		<div class="technologies__logo">
		<img src="/images/javascript.svg" alt="JavaScript logo">
		</div>
		<h3 class="technologies__title">JavaScript</h3>
	</li>
	<li class="technologies__item">
	  <div class="technologies__logo">
	  <img src="/images/bem.png" alt="BEM logo">
	  </div>
	  <h3 class="technologies__title">BEM</h3>
	</li>
	<li class="technologies__item">
	  <div class="technologies__logo">
		<img width="64" height="64" src="/images/11ty.svg" alt="11ty logo">
	  </div>
	  <h3 class="technologies__title">11ty</h3>
	</li>
	<li class="technologies__item">
	  <div class="technologies__logo">
		<img src="/images/nunjucks.svg" alt="Nunjucks logo">
	  </div>
	  <h3 class="technologies__title">Nunjucks</h3>
	</li>
  </ul>
</section>