---
title: "Обо мне"
layout: "base.njk"
---

<section class="bio prose">
  <h2 class="heading--main">Обо мне</h2>
  <p>
	8 лет работаю в сфере международной логистики, успешно выполняю поставленные задачи как в офисе, так и удаленно.
	Люблю работать как в команде, так и самостоятельно. Активно участвую в налаживании процессов взаимодействия между отделами.
  </p>
  <p>
	Люблю удобные интерфейсы и стараюсь разрабатывать такие. Знаком с понятием доступности в вебе. Слежу за перфомансом.
	Читаю статьи, слушаю подкасты о веб-разработке и старюсь постоянно совершенствовать свои навыки.
	Владею английском на уровне разговорного и письменного. Регулярно практикую на текущей работе и в повседневной жизни.
  </p>
  <p>
	В свободное время катаюсь на велосипеде, увлекаюсь столярным делом.
  </p>
</section>