---
title: "Обо мне"
layout: "base.njk"
---

<section class="bio prose">
	<h2 class="heading--main">Обо мне</h2>
	<p>
		8 лет работаю в сфере международной логистики, успешно выполняю поставленные задачи независимо от локации (в офисе или удаленно).
		Люблю работать как в команде, так и самостоятельно. Активно участвую в налаживании процессов между отделами.
  </p>
	<p>
		Недавно по ряду причин принял решение о смене профессии. Выбрал фронтенд потому что люблю пользоваться красивыми, удобными интерфейсами и хочу создавать такие сам.
	</p>
	<p>
		<a href="https://htmlacademy.ru/profile/woodrunsdeep" target="_blank" rel="noreferrer">Прошел курсы по верстке</a> в HTML Academy и продолжаю обучение самостоятельно. Занимаюсь личным проектом - приложение по изучению грузинского языка. Погружаюсь в React. Также мне интересна тема анимаций в вебе.
		Знаком с понятием доступности в вебе. Слежу за перфомансом.
		Читаю статьи, слушаю подкасты о веб-разработке и стараюсь постоянно совершенствовать свои навыки.
	</p>
	<p>
		Владею английском на уровне разговорного и письменного. Регулярно практикую на текущей работе и в повседневной жизни.
  </p>
	<p>
		В свободное время катаюсь на велосипеде, увлекаюсь столярным делом.
  </p>
</section>