---
title: "Форма обратной связи"
layout: "base.njk"
---

<h2 class="heading--main text-center">Всегда открыт к знакомствам</h2>
<p class="contact__sub-heading text-center"></p>


<div class="socials-wrapper">
	Вы можете связаться со мной по ссылкам или форме ниже.
	<ul class="socials">
		<li class="socials__item">
			<a href="https://github.com/woodrunsdeep" class="socials__link">woodrunsdeep @ github</a>
		</li>
		<li class="socials__item">
			<a href="https://t.me/woodrunsdeep" class="socials__link">woodrunsdeep @ telegram</a>
		</li>
		<li class="socials__item">
			<a href="mailto:woodrunsdeep@gmail.com" class="socials__link">woodrunsdeep @ gmail</a>
		</li>
	</ul>
</div>

<form class="form" name="contact" action="/success" method="POST" data-netlify="true">
  <div class="form__section">
    <label class="form__label" for="yourName">Имя</label>
    <input class="form__input" name="name" type="text" id="yourName" required="true">
  </div>
  <div class="form__section">
    <label class="form__label" for="yourEmail">Email</label>
    <input class="form__input" name="email" type="email"  id="yourEmail" required="true">
  </div>
  <div class="form__section">
    <label class="form__label" for="message">Сообщение</label>
    <textarea class="form__input" name="message" id="message" rows="4" required="true"></textarea>
  </div>
    <button class="form__button" type="submit">Отправить</button>
</form>