---
title: "Последние проекты"
layout: "base.njk"
---

<h2 class="projects__heading">Последние проекты</h2>
<div class="project-list">
	{% asyncEach project in collections.projects %}
		{% include "project-card.njk" %}
	{% endeach %}
</div>