---
title: "Eleventy Portfolio"
layout: "base.njk"
---

<div class="container text-center">
  <h2 class="heading--main">Спасибо за ваше письмо!</h2>
  <p>Я постараюсь ответить как можно скорее.<p>
</div>